.carousel-item img{
    height: 60vh;
}
.carousel-item p{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.mtext-6{
    margin-top: 300px !important;
    margin-bottom: 300px !important;
}

.forumtxt > img, .overlay-text {
    position: absolute;
}

